<p id="notice"><%= notice %></p>

<h1>Posts</h1>


    <% @posts.each do |post| %>
    <%= link_to post.title, post %>
  
    <% if user_signed_in? %>
      <%= post.user.name %>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  
    <% end %>
    
    <br>
    <% if user_signed_in? %>
     <%= link_to 'New Post', new_post_path %>    
    <% end %>
    

<br>

