<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="#">
        Members Only
      </a>
    <div>
    <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-warning"%>
        <%= link_to 'New Post', new_post_path, class: "btn btn-warning" %>
    <% else %>
        <%= link_to 'Sign In', new_user_session_path, class: "btn btn-warning"%>
        <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-warning"%>
    <% end %>
    </div>
  </nav>
 <div class="container">

    <% if flash[:alert] %>
     <div class="alert alert-danger fade show" role="alert">
       <%= alert %>
     </div>
      <% end %>
   <% if flash[:notice] %>
     <div class="alert alert-warning fade show" role="alert">
       <%= notice %>
     </div>
   <% end %>
  <%= yield %>
 </div>
  </body>
</html>
